@{
    ViewBag.Title = "Contact";
}
<style>
    body {
        background-color: aquamarine;
    }
</style>
<main aria-labelledby="title">
    
        <h2>Contact Us</h2>
        <p>
            Let’s make your next event extraordinary! Reach out to us to discuss your event requirements, and we will craft a personalized plan just for you.
        </p>
        <address>
            <strong>Email:</strong> <a href="mailto:info@skevents.com">info@skevents.com</a><br />
            <strong>Phone:</strong> +1 123 456 7890
        </address>
</main>